* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
body {
    background-color: rgb(31, 31, 31);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 300px;
    background: rgb(183, 174, 174);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    border-style: outset;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

.calculator {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 10px;
}

#display {
    font-family: 'Calculator', sans-serif;
    width: 100%;
    height: 50px;
    font-size: 2.0rem;
    text-align: right;
    padding: 0 0;
    border: 2px solid #ddd;
    border-style: inset;
    background: #b2d3b6;
    pointer-events: none;
}
.btn {
    background: lightgray;
}
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 15px;
    font-size: 1.2rem;
    border: none;
    border-style: outset;
    cursor: pointer;
}

button.operator {
    background: darkgray;
    color: white;
}

button#equals {
    grid-column: span 4;
    background: black;
    color: white;
}

button#clear {
    background: #f44336;
    color: white;
}

button:hover {
    opacity: 0.9;
}

button:active {
    transform: scale(0.95);
}
